In [52]:
using DataFrames, CSV
using JLD
using JuMP, Gurobi
using LinearAlgebra, Random, Printf, StatsBase, CategoricalArrays
using Plots, StatsPlots
using Distributions

In [54]:
races = ["Sakhir", "Jeddah", "Melbourne", "Shanghai", "Baku", "Miami", "Imola", "Monaco", "Barcelona", "Montreal", "Spielberg", "Silverstone", "Budapest", "Spa", "Zandvoort", "Monza", "Singapore", "Suzuka", "Lusail", "Austin", "Mexico City", "Sao Paulo", "Las Vegas","Yas Marina"]
races_circuitref = ["bahrain", "jeddah", "albert_park", "shanghai", "baku", "miami", "imola", "monaco", "catalunya", "villeneuve", "red_bull_ring", "silverstone", "hungaroring", "spa", "zandvoort", "monza", "marina_bay", "suzuka", "losail", "americas", "rodriguez", "interlagos", "las_vegas", "yas_marina"];

In [55]:
#import Data
all_df = CSV.read("circuits.csv", DataFrame)
first(all_df,5)

5×9 DataFrame
 Row │ circuitId  circuitRef   name                            location      c ⋯
     │ Int64      String15     String                          String31      S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │         1  albert_park  Albert Park Grand Prix Circuit  Melbourne     A ⋯
   2 │         2  sepang       Sepang International Circuit    Kuala Lumpur  M
   3 │         3  bahrain      Bahrain International Circuit   Sakhir        B
   4 │         4  catalunya    Circuit de Barcelona-Catalunya  Montmeló      S
   5 │         5  istanbul     Istanbul Park                   Istanbul      T ⋯
                                                               5 columns omitted

In [56]:
select!(all_df, "circuitRef", "location", "lat", "lng")

#only keep rows for the races that we care about, i.e. 2024 schedule
all_df[in(races_circuitref).(all_df.circuitRef), :]

24×4 DataFrame
 Row │ circuitRef     location     lat       lng
     │ String15       String31     Float64   Float64
─────┼──────────────────────────────────────────────────
   1 │ albert_park    Melbourne    -37.8497   144.968
   2 │ bahrain        Sakhir        26.0325    50.5106
   3 │ catalunya      Montmeló      41.57       2.26111
   4 │ monaco         Monte-Carlo   43.7347     7.42056
   5 │ villeneuve     Montreal      45.5      -73.5228
   6 │ silverstone    Silverstone   52.0786    -1.01694
   7 │ hungaroring    Budapest      47.5789    19.2486
   8 │ spa            Spa           50.4372     5.97139
   9 │ monza          Monza         45.6156     9.28111
  10 │ marina_bay     Marina Bay     1.2914   103.864
  11 │ shanghai       Shanghai      31.3389   121.22
  ⋮  │       ⋮             ⋮          ⋮          ⋮
  15 │ yas_marina     Abu Dhabi     24.4672    54.6031
  16 │ rodriguez      Mexico City   19.4042   -99.0907
  17 │ zandvoort      Zandvoort     52.3888     4.54092
  18 │ las_vegas      Nevada        36.1162  -115.174
  19 │ americas       Austin        30.1328   -97.6411
  20 │ red_bull_ring  Spielberg     47.2197    14.7647
  21 │ baku           Baku          40.3725    49.8533
  22 │ jeddah         Jeddah        21.6319    39.1044
  23 │ losail         Al Daayen     25.49      51.4542
  24 │ miami          Miami         25.9581   -80.2389
                                          3 rows omitted

In [57]:
using Geodesy

# Gives distance between two circuits in km
function dist(c1, c2)
    circuit1 = all_df[c1, :]
    circuit2 = all_df[c2, :]
    lat1 = circuit1[:lat]
    lng1 = circuit1[:lng]
    lat2 = circuit2[:lat]
    lng2 = circuit2[:lng]
    return euclidean_distance(LLA(lat1, lng1, 0), LLA(lat2, lng2, 0)) / 1000
end

dist(1,12)

12386.36377883742

In [64]:
#create a matrix of distances between each circuit
distance_matrix=[dist(i,j) for i in 1:24, j in 1:24]

24×24 Matrix{Float64}:
     0.0    6067.92   10361.5    12339.2    …   7556.33   10100.7    10082.2
  6067.92      0.0     5818.24    9417.92       4922.78    5418.79   12100.1
 10361.5    5818.24       0.0     4611.4        7542.94     447.152  10994.7
 12339.2    9417.92    4611.4        0.0        9252.61    5017.04    9327.96
 11597.7    7749.32    2536.63    2254.5        8118.92    2941.47   10454.3
 12232.2    9109.4     4255.09     486.382  …   8937.29    4658.66    9644.26
 12317.0   11632.9     9204.84    5699.13       9431.36    9461.91    8271.26
 12320.5    9310.67    4630.56     592.452      8888.76    5021.37    9631.6
 12365.8    9443.78    5024.18    1192.61       8671.2     5392.55    9750.33
 12206.6    9011.25    4339.68     991.471      8548.98    4721.25    9940.26
 11956.8    8436.49    3581.74    1497.65   …   8239.14    3965.21   10262.5
 12386.4    9587.92    4801.12     321.243      9469.08    5207.96    9106.87
 12254.6    9133.65    4542.94    1025.19       8566.82    4919.65    9899.51
 12193.3    8994.16    4169.36     722.596      8753.4     4566.86    9803.41
  5823.41    286.923   6071.37    9607.14       4897.38    5676.26   12086.9
  7584.88   5116.5     7690.07    9296.91   …    225.276   7480.79   12643.6
  7518.32   3711.89    6497.96    8867.44       1477.14    6227.66   12738.2
 10912.9   12095.9    10191.0     8123.2       12682.3    10390.2     1663.49
 11990.3   11861.4     9979.75    6760.91       9459.74   10202.2     8055.52
 12236.1    9086.13    4478.12    1038.15       8540.79    4855.21    9928.25
 12133.8    8862.43    3956.27     829.604  …   8737.31    4359.02    9843.62
  7556.33   4922.78    7542.94    9252.61          0.0     7325.36   12668.7
 10100.7    5418.79     447.152   5017.04       7325.36       0.0    11138.9
 10082.2   12100.1    10994.7     9327.96      12668.7    11138.9        0.0